<thead>
  <% date_range.each do |day| %>
    <th class="week-heading">
      <span class="week-name"><%= day.strftime("%A") %></span>
      <span class="week-date"><%= day %></span>
    </th>
  <% end %>
</thead>
<tbody>
  <tr>
    <% date_range.each do |day| %>
      <td class="week-day" data-date="<%= day %>">
        <% events.each do |event| %>
          <% if event_day(event,day).present? %>
            <div class="event <%= event_day(event,day) %>">
              <span class="event-name"><%= if event_day(event,day) == 'first_day' then event.title end %></span>
            </div>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
</tbody>
