 <%= form_with scope: :event do |form| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add event</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <%= hidden_field_tag 'date', params[:date] %>

    <div class="form-group">
      <%= form.text_field :title, class: "form-control", placeholder: "Event title" %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= form.date_field :begin_date, class: "form-control" %>
        </div>
        <div class="col-md-6">
          <%= form.date_field :end_date, class: "form-control" %>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
<% end %>
