<div class="container-fluid">
  <h1>Booking availability</h1>

  <div class="calendar">

    <div class="navigation">
      <%= link_to "Prev", date: @date_range.first - 1.day %>
      <%= link_to "Next", date: @date_range.last + 1.day %>
    </div>

    <table class="table">
      <thead>
        <% @date_range.each do |day| %>
          <th class="week-heading">
            <span class="week-name"><%= day.strftime("%A") %></span>
            <span class="week-date"><%= day %></span>
          </th>
        <% end %>
      </thead>
      <tbody>
        <tr>
          <% @date_range.each do |day| %>
            <td class="week-day">
              <% @events.each do |event| %>
                <% if event_day(event,day).present? %>
                  <div class="event">
                    <%= event_day(event,day) %>
                  </div>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
    </table>

  </div><!-- /calendar -->
</div>
